<div class="grid-container">
  <div class="grid-x grid-padding-x" *ngFor="let data of model()">
    <div class="cell small-12">
      <div class="card" *ngFor="let meta of data | keyvalue">
        <div class="card-divider">
          <h4>{{ meta.key }}</h4>
        </div>
        <div class="card-section">
          <p>{{ meta.value }}</p>
        </div>
    </div>
  </div>
</div>
<vg-player
  (onPlayerReady)="onPlayerReady($event)"
  vg-crossorigin="ctrl.config.crossorigin"
  style="height: 50px;">
  <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-mute></vg-mute>
  </vg-controls>

  <audio #media [vgMedia]="$any(media)" id="myAudio" preload="{{ preload }}" crossorigin>
      <source [src]="src()" [type]="type()">
      <track
      [src]="transcript_src()"
      kind="metadata"
      label="Cue Points"
      default
      #metadataTrack
      vgCuePoints
      (onEnterCuePoint)="onEnterCuePoint($event)"
      (onExitCuePoint)="onExitCuePoint($event)"
    />
  </audio>
</vg-player>

<div class="errors" *ngFor="let error of errors">
  <p><i class="fa-solid fa-triangle-exclamation"></i> {{ error?.message }}</p>
</div>

<div class="cue-point-manager-layer" id="cuePoints" *ngIf="showCuePointManager">
  <div class="cue-list" id="queList" *ngIf="track?.cues?.length > 0">
    <table class="cue-table">
      <thead>
        <tr class="cue-row">
          <th>Start Time</th>
          <th>End Time</th>
          <th class="json-header">JSON</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cue of track?.cues" class="cue-row">
          <td>{{ cue.startTime }}</td>
          <td>{{ cue.endTime }}</td>
          <td class="json">{{ cue.text }}</td>
          <td class="actions">
            <button type="button" class="eos-button tertiary" (click)="onClickGo(cue)">
              <i class="fa-solid fa-play"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
